---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?Health=gluten-free&app_id=<EDAMAM_ID>&app_key=<EDAMAM_KEY>&from=0&q=12346&to=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "12346",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "to" : [ "10" ],
            "q" : [ "12346" ],
            "app_id" : [ "<EDAMAM_ID>" ],
            "app_key" : [ "<EDAMAM_KEY>" ],
            "Health" : [ "gluten-free" ],
            "from" : [ "0" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Wed, 03 May 2017 22:32:43 GMT
recorded_with: VCR 3.0.3
