---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?api_id=&api_key=&from=0&q=&to=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "to" : [ "10" ],
            "api_id" : [ "" ],
            "q" : [ "" ],
            "api_key" : [ "" ],
            "from" : [ "0" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Fri, 05 May 2017 22:19:51 GMT
recorded_with: VCR 3.0.3
