---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<EDAMAM_ID>&app_key=<EDAMAM_TOKEN>&q=http://www.edamam.com/ontologies/edamam.owl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "http://www.edamam.com/ontologies/edamam.owl",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "http://www.edamam.com/ontologies/edamam.owl" ],
            "app_id" : [ "<EDAMAM_ID>" ],
            "app_key" : [ "<EDAMAM_TOKEN>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Tue, 09 May 2017 06:50:03 GMT
recorded_with: VCR 3.0.3
