<h1>Welcome to the snack central!</h1>

<section class="row">
  <div class="input-group input-group-rounded">
    <%= form_tag(list_recipes_path, method: "get") do %>
    <div class="small-11 medium-11 large-3 large-offset-4 columns">
      <%= text_field_tag(:search_term, value = nil, options = { placeholder: "Find your food mate", class: "input-group-field" }) %>
    </div>
    <div class="input-group-button">
      <%= button_tag(class: "button") do %>
        <i class="fa fa-search"></i>
      <% end %>
    </div>
    <% end %>

  </div>
</section>
