<h1>Welcome to the snack central!</h1>

<%= form_tag(list_recipes_path, method: "get") do %>
  <%= label_tag("Search for:") %>
  <%= text_field_tag(:search_term, value = nil, options = { placeholder: "What would you like to munch on today?", class: "search-field" }) %>
  <%= submit_tag("Search", class: "hollow button") %>
<% end %>
