<h1>List of recipes</h1>

<section class="recipe-list">
  <h1>Recipes for </h1>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <%= recipe.name %>
      </li>
    <% end %>
  </ul>
</section>
