<div class="main row">
  <% 2.times do |n| %>
    <div class="small-12 medium-6 column">
      <% if n == 0 %>
        <% half = @recipes[0..4]%>
      <% else %>
        <% half = @recipes[5..9]%>
      <% end %>

      <% half.each do | recipe | %>
      <div class="result-recipe">
        <h5><%= link_to recipe.label, recipe_details_path(uri: recipe.uri), method: :get, class: "title" %></h5>
        <%= link_to image_tag(recipe.image), recipe_details_path(uri: recipe.uri), method: :get, class:"image" %>
      </div>
      <% end %>

    </div>
  <% end %>
</div>
