<div class="header row">
  <h1 class="medium-centered-6 large-centered-6 columns">Measure Twice</h1>
  <h2 class="medium-centered-6 large-centered-6 columns">Recipe Search Made Easy</h2>
</div>
<form>
  <div class="row">
    <div class="small-12 medium-centered-6 large-centered-4 columns">
      <label>Search Recipes
        <input type="text" placeholder="e.g., taco, chicken, vegetarian">
      </label>
    </div>
  </div>
</form>
