<h1><%= @recipe.label %></h1>
<%= image_tag @recipe.image %>

<h4>Ingredients</h4>

<ul>
  <% @recipe.ingredientlines.each do |line| %>
  <li>
    <%= line %>
  </li>
  <% end %>

</ul>
<p>

</p>
<%= link_to @recipe.uri, @recipe.uri %>
