<section class="search-page">
  <h1>Chantal's recipe search!</h1>

  <div class="row">
    <div class="container-1">
      <div class="small-4 small-centered columns">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input type="search" id="search" placeholder="Let's get cooking!" />
        </div>
    </div>
  </div>

</section>
