<section class="row">
<h3>Stuck on what to make Anna for dinner?</h3>
<p>these recipes are all gluten freeeeee, and for bonus points, there's vegan and vegetarian options.</p>
</section>
<section class="row">
  <div class="small-6 columns small-centered search_form">
<%= form_tag(recipes_path_url(from: "0", to: "10"), method: "post") do%>
<%= text_field_tag :search_term, params[:search_term], placeholder: "Search by Food" %>
<%= submit_tag "Search", class: :button %>
<% end %>
<div>
</section>
