
<h1 id="title">Chantal's recipe search</h1>

<section class="search-page">
<div class="row">
<div class="small-4 small-centered columns">
<form method="get" action="results/index">
    <article id="button">
    <input type="text" name="q" />
    <input type="submit" />
  </article>
</form>
  </div>
  </div>
</section>
