
<h1 id="title">Chantal's recipe search</h1>

<section class="search-page">
<div class="row">
<div class="small-4 small-centered columns">
<form method="get" action="search">
    <input type="text" name="search" />
    <input type="submit" />
</form>
  </div>
  </div>
</section>
