<div class='row'>

  <ul>
    <% if params[:page] == '1' %>
    <li></li> <!-- These logic is here to keep the spacing in the page correct. -->
    <% else %>
    <li class='small-3 columns'>
      <%= link_to "Previous Recipes", recipes_path(:utf8 => params[:utf8], :search => params[:search], :page => (params[:page].to_i - 1), :commit => params[:commit]) %>
    </li>
    <% end %>
    <li class='small-3 columns', id='right-nav'>
      <%= link_to "More Recipes", recipes_path(:utf8 => params[:utf8], :search => params[:search], :page => (params[:page].to_i + 1), :commit => params[:commit]) %>
    </li>
  </ul>
</div>
