<!-- <section class="input-group"> -->
    <%= form_tag results_path, method: :get, class: "input-group" do  %>
      <%= label_tag(:search, "What's in yo fridge?") %>
      <%= text_field_tag(:search, nil, class: "input-group-field") %>
    <div class="input-group-button">
      <%= submit_tag("Send", class: "button radius") %>
    </div>
    <% end  %>
<!-- </section> -->
