<p class="absolute-text">
<h2 align="center"> Welcome! Feeling hungry? Type any word to find fun recipes</h2>
  <%= form_tag(recipes_path, method: "post") do %>
    <%= label_tag(:name, "Recipe for:") %>
    <%= text_field_tag :name, params[:name] %>
    <%= submit_tag("Search") %>
  <% end %>
</p>

<div class="relative" align="center" class= "columns large-12 medium-12 small-12">
  <img src="https://static.pexels.com/photos/375760/pexels-photo-375760.jpeg" alt="backgroung_image">
</div>
