<section class='channels-list'>
  <h1>Recipes</h1>
  <h2>Search Results</h2>
    <ul>
      <% @results_page.each do |recipe| %>
        <li>
          <%= image_tag recipe.image %>
          <%= link_to recipe.name, recipe_path(:name => recipe.name, :uri => recipe.uri) %>
        </li>
      <% end %>
    </ul>
  <%= will_paginate @results_page %>
</section>
