<h2><%= "Here are some delectable #{params[:search]} recipes" %> </h2>


<ul>
<% @recipes.each do |recipe| %>


<li> <%= link_to recipe.name, recipe_path(recipe.id), method: :get %>
  <%= link_to (image_tag recipe.image, alt:"picture of #{recipe.name}"), recipe_path(recipe.id, method: :get %>
</li>


<% end %>
</ul>
