<h1>All recipes for ...</h1>

<% if @list_of_recipes.length > 0 %>
<ul>
  <% @list_of_recipes.each do |recipe| %>
  <li>
    <%= link_to recipe.label, recipe.uri %>
    <div>
    <%= image_tag(recipe.image) %>
  </div>

  </li>
  <% end %>
</ul>
<% end %>
