<section class='recipes-list'>
  <h1>Search Results for: <%= (params["query"]) %> </h1>
    <ul class="row small-up-2 medium-up-3 large-up-5">
      <% @results_page.each do |recipe| %>
        <li class="column">
          <%= image_tag recipe.image %>
          <%= link_to recipe.name, recipe_path(:name => recipe.name, :uri => recipe.uri) %>
        </li>
      <% end %>
    </ul>
  <%= will_paginate @results_page %>
</section>
