<h1>Search Results</h1>
  <article>
  <% if @results %>
    <% @results.each do |recipe| %>
      <img src="<%= recipe[:image_url] %>"  alt="recipe">
      <%= link_to recipe[:label], "#" %>
    <% end %>
  <% end %>
  </article>

  <nav><%= link_to "Next", "#", class: "button" %> </nav>
