<h2 class="text-center">Recipes for <%=@search_results[:q]%></h2>

<ul class = "row small-up-2 medium-up-3 large-up-5">
<% @search_results[:recipes].each do |recipe| %>
 <li class="column column-block text-center">
   <%= link_to image_tag(recipe.image, alt: "mouthwatering #{recipe.name}"), recipe_path(:name => recipe.name, :uri => recipe.uri) %>
   <%= recipe.name %>
</li>

</div>

<% end %>
