<%#= @recipes["hits"][0]["recipe"]["uri"] %>
<%#= @recipes["hits"][0]["recipe"]["ingredientLines"] %>

<%#= @recipes["hits"][0]["recipe"]["label"]%>
<%#= @recipes["hits"][1]["recipe"]["label"]%>
<%#= @recipes["hits"][2]["recipe"]["label"]%>
<%#= @recipes["hits"][3]["recipe"]["label"]%>
<body>
<% @recipes["hits"].each do |r| %>
<% @uri = r["recipe"]["uri"].sub("http://www.edamam.com/ontologies/edamam.owl#", "") %>
<h5><%= link_to r["recipe"]["label"], recipe_path(@uri)%></h5>
<%= image_tag(r["recipe"]["image"], size: "200")%>

<% end %>
<% from = (params[:from].to_i + 10).to_s %>
<% to = (params[:to].to_i + 10).to_s %>
<div><%= link_to "More recipes", list_path(from, to, "health" => @health), method: :get, class: "button"  %></div>
</body>
