<main class="row">

<h1>Recipes with <%= @ingredient %></h1>

<% @recipes.each do |recipe| %>
<section class="top columns large-4 small-12 product" >
<ul>
  <li>
    <%= image_tag(recipe.image) %>
  </li>
  <li>
    <%= recipe.label %>
  </li>
</ul>
</section>

<% end %>

</main>
