<main class="row">

<h1 class="recipes-header"><%= @ingredient.capitalize %> Recipes</h1>

<% @recipes.each do |recipe| %>
<section class="top columns large-4 small-12 product" >
<ul class="recipe">
  <li>
    <%= image_tag(recipe.image) %>
  </li>
  <li>
    <%= link_to recipe.label, get_recipe_path(:label => recipe.label, :uri => recipe.uri) %>
  </li>
</ul>
</section>

<% end %>

</main>
