<h1> Noice! It's the index "")</h1>


<% @recipes.each do |recipe| %>
<%# raise %>

<p>
  <%= image_tag recipe.image %> Recipe: <%= link_to recipe.name, recipe_path(name: recipe.name, uri: recipe.uri) %>
</p>

<% end %>
