<h2 class="row">May your recipe quest begin.</h2>

<section clas="row">
<%= form_tag recipes_path, method: :get do %>
  <div class="large-6 medium-9 small-12 columns">
    <%= text_field_tag "recipe[q]" %>
  </div>

  <%= submit_tag "Search", class: "button"%>
<% end %>
</section>
