<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Recipe</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes_list.each do |recipe| %>
    <tr>
      <td>
        <%= image_tag recipe.image  %>
      </td>

      <td>
        <%= link_to recipe.label, show_recipe_path(recipe.uri[43..-1]) %>
      </td>
      <% end %>
    </tr>
  </tbody>
