<body>
<main class="home">
  <article class="search-form">
    <h1>Find your lovely recipes!!</h1>
    <%= form_tag("/recipes/index", method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
    <% end %>
  </article>
</main>
</body>
