
<%= render partial: "navigation" %>

<div class='row'>
  <div class='small-9 large-centered columns, recipe-list'>
    <ul >
      <% @recipes_list.each do |recipe| %>
      <!-- <div class='row'> -->
        <div class='small-6 large-centered columns'>
          <li>
            <%= image_tag recipe.image  %>
            <%= link_to recipe.label, show_recipe_path(recipe.uri[43..-1]) %>
          </li>
        </div>
      <!-- </div> -->
      <% end %>
    </ul>
  </div>
</div>
<!-- <div class='row'>
<div class='small-9 large-centered columns'> -->
<%= render partial: "navigation" %>
<!-- </div>
</div> -->
