<div class='row'>
<%= render partial: "navigation" %>

<ul class="inline-list">
  <% @recipes_list.each do |recipe| %>
  <li class="small-6 columns">
    <%= image_tag recipe.image  %>

    <%= link_to recipe.label, show_recipe_path(recipe.uri[43..-1]) %>
  </li>
  <% end %>
</ul>

<%= render partial: "navigation" %>
</div>
