<h1>Working?</h1>


<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Recipe</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes_list.each do |recipe| %>
    <tr>
      <td>
        <%= image_tag recipe.image  %>
      </td>

      <td>
        <%= recipe.label %>
      </td>
      <% end %>
    </tr>
  </tbody>
