

<!-- <h2>What do you feel like making tonight?</h2> -->


  <%#= form_tag recipes_path, method: :get do %>
    <%#= label_tag :search_request %>
    <%#= text_field_tag :search_request %>

    <%#= hidden_field_tag "from", 0 %>
    <%#= hidden_field_tag "to", 9 %>

    <%#= submit_tag "Get Recipes!" %>
