<% unless params[:page] == '1' %>
<p>
  <%= link_to "Previous Recipes", recipes_path(:utf8 => params[:utf8], :search => params[:search], :page => (params[:page].to_i - 1), :commit => params[:commit]) %>
</p>
<% end %>
<p>
  <%= link_to "More Recipes", recipes_path(:utf8 => params[:utf8], :search => params[:search], :page => (params[:page].to_i + 1), :commit => params[:commit]) %>
</p>
<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Recipe</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes_list.each do |recipe| %>
    <tr>
      <td>
        <%= image_tag recipe.image  %>
      </td>

      <td>
        <%= link_to recipe.label, show_recipe_path(recipe.uri[43..-1]) %>
      </td>
      <% end %>
    </tr>
  </tbody>
