<h2><%= @recipe.name %></h2>

<%= link_to image_tag(@recipe.image, alt: "mouthwatering #{@recipe.name}"), @recipe.url%>
<%= @recipe.name %>

<% @recipe.ingredients.each do |ingredient| %>
<ul>
  <li><%= ingredient %> </li>
</ul>
<% end %>
