<h3><%= @recipe.label %></h3>

<h4>Ingredients</h4>
<ul>
<% @recipe.ingredients.each do |ingredient| %>
  <li><%= ingredient %></li>
<% end %>
</ul>

<h4>Get the <%= link_to "full recipe", @recipe.url, target: "_blank" %></h4>
