<section>
<%= @recipe.name %>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
  <li><%= ingredient %></li>
  <% end %>
</ul>
<ul>
  <% @recipe.health_labels.each do |label| %>
  <li><%= label %></li>
  <% end %>
</ul>
<%= link_to "Get the Recipe!", @recipe.original_recipe, target: :_blank %>
</section>
