<h1><%= link_to @recipe.name, @recipe.source_url, target: "blank" %></h1>
<%= image_tag(@recipe.image, alt: "Recipe Image") %>

<h4>Ingredients</h4>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>
