<h2>Welcome to Recipes search!</h2>
<div>
  <%= form_tag(view_recipes_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Recipes", id: "search-field"%>
    <%= hidden_field_tag :from, params[:from], value: 0%>
    <%= submit_tag "Search", :name => nil , class: "button hollow topbar-responsive-button ", id: "search-button"%>
  <% end %>
</div>
