<section class="recipe-list">

<h1>Results for your search!</h1>

<ul>
  <% @recipes.each do | recipe | %>
    <li>
    <%=link_to recipe.name, ingredients_path + "?#{recipe.uri}" %>
    <%=recipe.image %>

    </li>
    <% end %>
</ul>
</section>
