
<section class="search-results">

  <h2 class="recipe-list">Results for your search!</h2>

    <% @recipes.each do | recipe | %>
      <div class="recipe-transbox">
      <div class="large-6 large-centered columns">

      <%=link_to recipe.label, ingredients_path + "?#{recipe.uri}"%>
      <%= link_to image_tag(recipe.image, :size => "400x500", :alt => "recipe photo #{recipe.label}"), ingredients_path + "?#{recipe.uri}" %>

        </div>
        </div>

        <% end %>
</section>
