<section class="row recipe-list" data-equalizer data-equalize-on="medium">

  <h2>Results for your search!</h2>
    <div class="column large-4">
      <div class="transbox" data-equalizer-watch>
        <div id="recipes">

            <% @recipes.each do | recipe | %>
            <ul>
              <li><%=link_to recipe.label, ingredients_path + "?#{recipe.uri}"%></li>
              <%= link_to image_tag(recipe.image, :size => "400x500", :alt => "recipe photo #{recipe.label}"), ingredients_path + "?#{recipe.uri}" %>
            </ul>
            <% end %>
        </div>
      </div>
    </section>
