<section class="search-results">


  <article class="recipe-results">

    <% @results.each do |result| %>
    <section class="indiv-recipe">
      <%= image_tag result.image, class: "index-image" %>
      <%= link_to result.name, recipe_path(uri: result.uri), method: :get, class: "recipe-title" %>
    </section>
    <% end %>
  </article>
</section>
