<%= @count %> results for your search "<%= params[:q] %>"


<% @recipes.each do |recipe| %>
<ul>
  <li>
    <%= link_to recipe.label, recipe_path(recipe.id) %>
    <%= image_tag(recipe.image, :alt => recipe.label) %>
  </li>
</ul>

<% end %>
