/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */



 header {
   padding: 0.5rem;
   /*border: 0.3rem solid #ffbb00;*/
   background-color: #ffbb00;
   min-height: 3rem;
   margin: 0;
 }

 main {
   /*background: linear-gradient(to bottom right, #ffbb00, white);*/
   padding: 2.5rem;
   background: linear-gradient(155deg, #ffbb00, white);
   min-height: 30rem;
 }

 footer {
   padding: 0.5rem;
 }
