// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.column {
  padding: 0;
}

.my_box {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 0.05rem solid grey;
  border-radius: 0.3rem;
  background-color: #ffff00;
  color: #0C3FFC;
  box-shadow: 0.3rem 0.3rem 0.15rem  #0C3FFC;
}

.index_text {
  text-align: center;
}

.source {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.image_show {
  padding-top: 3rem;
}

.bottom {
  bottom: 0;
  width: 100%;
}

.recipe_image_index {
  // border-radius: 0.3rem;
  border-radius: 100%;
}
.recipe_image_show {
  border-radius: 0.3rem;
}


.button {
  background-color: #dae8da;
  color: grey;
  width: 100%;
  border-radius: 0.3rem;
}

.cta_button{
  vertical-align: bottom;
}

.ingredients p {
  margin: 0;
  padding: 0;
}

tbody td {
  padding: 0;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
