

body {
  height: 100%;
}

.fb-video
 {
        float: left;
        padding-left: 7%;
        padding-top: 2%;
        clear: both;

}

.columns {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

.search {
  float: left;
  clear: both;
  padding-top: 0rem;
  margin-left: 5%;
}

.header-row {
  float:left;
}

h5 {
  margin-left: 2rem;
  padding-bottom: .5rem;
  text-align: center;
}

.ingredients {
  margin-left: 4rem;
}


blockquote {
  clear: both;
  display: inline;
}

header {
  .head {
     h1 {
       display: inline;
       font-family: Raleway;
       font-size: 6.0em;
       margin-left: 5%;
       margin-bottom: 5%;
       margin-top: 1%;
      }
      text-align: left;
      a {
        color:#b7573c;
        &:hover {
        color:lighten(#b7573c, 20%);
        }
      }
    }

  a {
    color:#b4c4a4;
    &:hover {
    color:lighten(#b4c4a4, 10%);
    }
  }

}
.button {
  border-radius: 4px;
  float: right;
  clear: left;

}

ul {
  width: 200px;
  height: 200px;
  list-style-type: none;
}

.input-group-rounded .input-group-field {
  border-radius: 1000px 0 0 1000px;
  padding-left: 5rem;
  width: 100%;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 1000px 1000px 0;
  font-size: 0.8rem;
}

.page {
  margin-left: 2rem;
}

h6 {
  margin-left: 1rem;
  margin-bottom: 4rem;
}

.input-group .input-group-rounded {
    width: 100%;
}
