

body {
  height: 100%;
}

.fb-video
 {
        float: left;
        padding-left: 7%;
        padding-top: 5%;
        clear: both;

}

.search  {
  text-align: right;
}

header {
  .head {
     h1 {
       display: inline;
       font-family: Raleway;
       font-size: 6.0em;
       margin-left: 5%;
      }
      text-align: left;
      a {
        color:#b7573c;
        &:hover {
        color:lighten(#b7573c, 10%);
        }
      }
    }

  a {
    color:#b4c4a4;
    &:hover {
    color:lighten(#b4c4a4, 10%);
    }
  }

}
.button {
  border-radius: 4px;

}

ul {
  width: 200px;
  height: 200px;
  list-style-type: none;

}
text-field-tag {
    width: 200px;
}

.input-group-rounded .input-group-field {
  border-radius: 1000px 0 0 1000px;
  padding-left: 5rem;
  width: 100%;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 1000px 1000px 0;
  font-size: 0.8rem;
}

.input-group .input-group-rounded {
    width: 100%;
    // padding: 12px 20px;
    // margin: 8px 0;
    // box-sizing: border-box;
}

.index_img {
  width: 300px;
  height: 300px;
  overflow: scroll;

}
